/node_modules
/vendor
npm-debug.log
yarn-error.log

/.phpunit.cache
/.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
/.vagrant
.phpactor.json
/auth.json

/.fleet
/.idea
/.nova
/.vscode
/.zed

/bootstrap/compiled.php
/app/storage

/public_html/storage
/public_html/hot