@charset "UTF-8";

/* Criação de jogos */
.event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

.img-event{
    display: none;
    width: 400px; 
    height: 200px; 
    margin-top: 10px;
    border: 1px solid #ccc; 
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}