@charset "UTF-8";

/* welcome ajustada */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFB;
    color: #1F2937;
    margin: 0;
    padding-top: 80px; 
}

/* Header */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    padding: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

header .navbar-brand img {
    width: 100%; 
    max-width: 13vw;
    min-width: 100px; 
    height: auto; 
    margin-left: 2vw; 
    transition: max-width 0.3s ease, margin-left 0.3s ease;
}

header .navbar-nav .nav-link {
    position: relative;
    font-size: 16px;
    color: #1F2937;
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-right: 20px;
}

header .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0%;
    height: 2px;
    background-color: #F59E0B;
    transition: width 0.3s ease;
}

header .navbar-nav .nav-link:hover::after {
    width: 100%;
}

header .search-form {
    max-width: 800px;
}

header .search-form .input-group {
    width: 100%;
}

header .search-form input {
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 8px 15px;
    font-size: 14px;
    color: #1F2937;
    background-color: #e8ecf2;
}

header .search-form button {
    border-radius: 50px;
    padding: 8px 15px;
    background-color: #F2A340;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header .search-form button:hover {
    background-color: #e49e48;
    color: #fff;
}

/* Responsividade do Header */
@media (max-width: 991.98px) {
    header .navbar-brand img {
        max-width: 20vw;
        min-width: 90px;
        margin-left: 1.5vw;
    }

    header .search-form {
        max-width: 100%;
        margin: 10px 0;
        margin-right: 15px;
    }

    header .navbar-nav {
        text-align: center;
    }

    header .navbar-nav .nav-item {
        margin: 5px 0;
    }

    header .navbar-nav .nav-link {
        font-size: 14px;
        padding: 8px 10px;
    }

    header .navbar-toggler {
        margin-left: auto;
    }
}

@media (max-width: 575.98px) {
    header .navbar-brand img {
        max-width: 32vw; 
        min-width: 80px;
        margin-left: 0.75vw;
    }

    header .search-form input {
        font-size: 12px;
        padding: 6px 10px;
    }

    header .search-form button {
        padding: 6px 10px;
    }
}

/* Container */
#events-container {
    padding: 20px 15px;
    background-color: #F9FAFB;
    border-radius: 8px;
}

/* Cards */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#events-container .card {
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#events-container .card:hover {
    transform: translateY(-5px);
}

#events-container img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: top center;
}

.card .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card .card-date {
    font-size: 12px;
    color: #9CA3AF;
    margin-bottom: 5px;
}

.card .card-title {
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card .card-participants {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 15px;
}

.card .btn-primary {
    background: #4367cc;
    border:
    none;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
    transition: background 0.3s ease;
    margin-top: auto;
}

.card .btn-primary:hover {
    background: #114ba8;
}

/* Responsividade dos Cards */
@media (max-width: 991.98px) {
    #events-container img {
        max-height: 160px;
    }

    .card .card-title {
        font-size: 18px;
    }

    .card .card-participants {
        font-size: 13px;
    }
}

@media (max-width: 575.98px) {
    #events-container img {
        max-height: 160px;
    }

    .card .card-title {
        font-size: 16px;
    }

    .card .card-participants {
        font-size: 12px;
    }

    .card .card-date {
        font-size: 11px;
    }
}

/* Carousel */
.carousel {
    position: relative;
    max-height: 450px; 
    margin: 40px auto 20px;
    max-width: 1700px;
}

.carousel .carousel-inner {
    max-height: 450px; 
}

.carousel .carousel-item img {
    max-height: 450px; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Setas das bordas */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.custom-carousel-icon {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 10px;
}

/* Indicadores (bolinhas) */
.carousel-indicators-wrapper {
    margin-top: 20px;
}

.carousel-indicators {
    position: static;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1E3A8A;
    opacity: 0.4;
    transition: all 0.3s ease;
    border: none;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #F59E0B;
}

/* Carousel indicador*/
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #D1D5DB;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1000px;
}

.carousel-caption h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff87;
    line-height: 1.2;
}

.carousel-caption p {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
}

.carousel-caption .d-flex {
    gap: 8px; 
    justify-content: center;
}

.carousel-caption .btn {
    padding: 7px 16px; 
    font-size: 0.9rem;
    border-radius: 5px;
    margin: auto;
}

.carousel-caption .btn-primary {
    background-color: #f97316;
    border: none;
}

.carousel-caption .btn-primary:hover {
    background-color: #ea580c;
}

.carousel-caption .btn-outline-light {
    color: #fff;
    border-color: #fff;
}

.carousel-caption .btn-outline-light:hover {
    color: #f97316;
    background-color: #fff;
}

.carousel-item img {
    object-fit: cover;
    height: 450px;
}

/* Ajustes de responsividade para o carrossel */
@media (max-width: 991.98px) {
    .carousel-caption {
        width: 95%;
    }

    .carousel-caption h1 {
        font-size: 2.2rem;
    }

    .carousel-caption p {
        font-size: 1rem;
        max-width: 550px;
    }

    .carousel-caption .btn {
        padding: 6px 12px; 
        font-size: 0.8rem; 
    }

    .carousel-caption .d-flex {
        gap: 6px; 
    }

    .carousel-item img {
        height: 350px; 
    }

    .carousel .carousel-inner {
        max-height: 350px; 
    }

    .carousel {
        max-height: 350px; 
    }
}

@media (max-width: 575.98px) {
    .carousel-caption {
        width: 100%;
        padding: 0 15px;
    }

    .carousel-caption h1 {
        font-size: 1.6rem;
    }

    .carousel-caption p {
        font-size: 0.85rem;
        max-width: 100%;
    }

    .carousel-caption .btn {
        padding: 5px 10px; 
        font-size: 0.7rem; 
    }

    .carousel-caption .d-flex {
        gap: 5px; 
    }

    .carousel-item img {
        height: 300px; 
    }

    .carousel .carousel-inner {
        max-height: 300px; 
    }

    .carousel {
        max-height: 300px; 
    }
}

.carousel-indicators {
    bottom: 20px;
}